.new-tweet {
  border-radius: 4px;
  padding: 1em;
  margin: 0 2em;
  border: 1px solid #eee;
  background-color: #eee; 

}
.new-tweet h2 {
  margin: 0 0 18px 0;
  border-bottom: 1px solid #ccc; 
}
.new-tweet textarea {
  padding: 6px;
  margin: 5px auto;
  width: 100%;
  max-width: 100%;
  min-width: 100%;
  border-radius: 4px;
  border: 1px solid #ddd;
  display: block; 
}
.new-tweet input {
  border-radius: 4px;
  margin: 2px auto; 
}
.new-tweet input:hover {
  background-color: #e8fdff; 
}
.new-tweet .counter {
  font-style: italic;
  float: right;
  margin: 5px 10px; 
}

.red-counter {
  color: red;
}

.container {
  background-color: white; 
}

